[Unit]
Description=abi website
After=network.target syslog.target mongodb.service nginx.service

[Service]
Restart=on-failure
WorkingDirectory=$HOME/abi-website
ExecStart=npm run build && npm run start

[Install]
WantedBy=default.target
