[Unit]
Description=abi website
After=network.target syslog.target mongodb.service nginx.service

[Service]
Restart=always
WorkingDirectory=/home/aaron/abi-website/
ExecStart=/usr/bin/npm run production

[Install]
WantedBy=default.target
