@use '@/assets/scss/colors';

@mixin gold_border {
	position: relative;
	z-index: 0;
	border-radius: 0.5em;

	&:before {
		content: '';
		background-color: colors.$black;
		position: absolute;
		inset: 2px;
		border-radius: inherit;
		z-index: -1;
	}

	&:after {
		content: '';
		background: linear-gradient(
			90deg,
			colors.$secondary 0%,
			colors.$primary 25%,
			colors.$primary 75%,
			colors.$secondary 100%
		);
		position: absolute;
		inset: 0;
		border-radius: inherit;
		z-index: -2;
	}
}
